/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */

html {
	font-size: 1.25rem;
}
@media screen and (max-width: 1920px) {
	html {
		font-size: calc(0.2499999999999999rem + 0.8333333333333335vw);
	}
}
@media screen and (max-width: 1440px) {
	html {
		font-size: calc(0.19642857142857145rem + 0.8928571428571428vw);
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: calc(0.6724999999999999rem + 1.3333333333333335vw);
	}
}
@media screen and (max-width: 393px) {
	html {
		font-size: calc(0.8746811224489796rem + 0.510204081632653vw);
	}
}

/* Make text look crisper and more legible in all browsers */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	@apply font-public font-light text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-argent;
}

@layer base {
	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"] {
		-webkit-appearance: none;
		margin: 0;
		-moz-appearance: textfield !important;
	}
}
