/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
html {
	font-size: 1.25rem;
}
@media screen and (max-width: 1920px) {
	html {
		font-size: calc(0.2499999999999999rem + 0.8333333333333335vw);
	}
}
@media screen and (max-width: 1440px) {
	html {
		font-size: calc(0.19642857142857145rem + 0.8928571428571428vw);
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: calc(0.9995925684485006rem + 0.651890482398957vw);
	}
}

body {
	@apply font-public font-light text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-argent;
}

.box {
	clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%);
}
