/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
html {
	font-size: 1.25rem;
}
@media screen and (max-width: 1920px) {
	html {
		font-size: calc(0.2499999999999999rem + 0.8333333333333335vw);
	}
}
@media screen and (max-width: 1440px) {
	html {
		font-size: calc(0.19642857142857145rem + 0.8928571428571428vw);
	}
}
@media screen and (max-width: 768px) {
	html {
		font-size: calc(0.9995925684485006rem + 0.651890482398957vw);
	}
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@apply font-public font-light text-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-argent;
}

input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none !important;
	display: inline-block !important;
	width: 1.125rem !important;
	height: 1.125rem !important;
	background-color: white !important;
	border-radius: 4px !important;
	position: relative !important;
	border: 1px solid #ced7e1 !important;
}
input[type="checkbox"]#ship-to-different-address-checkbox {
	background-color: var(--color-lightGray) !important;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:checked#ship-to-different-address-checkbox {
	background-color: #cac8f2 !important;
}
input[type="checkbox"]::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>');
	width: 1rem;
	height: 1rem;
	opacity: 0;
}
input[type="checkbox"]:checked::before {
	opacity: 1;
}

.box {
	clip-path: polygon(0 0, calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%);
}

[x-cloak] {
	@apply !hidden;
}

.testimonials-slider-pagination
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	@apply bg-blue;
}

.wpcf7-form .footer {
	@apply sticky bottom-0 bg-white pt-4 pb-5 lg:pt-6 lg:pb-8;
}

.wpcf7-form .footer br {
	@apply hidden;
}

.wpcf7-form .fields-wrapper {
	@apply flex flex-col gap-5 lg:gap-6;
}

.wpcf7-text,
.wpcf7-textarea {
	@apply bg-gray border-gray3 w-full rounded-lg border px-4 py-[0.375rem] text-black focus:outline-none;
}

.contact-label {
	@apply text-gray5 text-label-m mb-1;
}

.wpcf7-acceptance {
	@apply mb-5 block lg:mb-6;
}

.wpcf7-acceptance .wpcf7-list-item {
	@apply ml-0;
}

.wpcf7-acceptance .wpcf7-list-item label {
	@apply flex items-center gap-2;
}

.wpcf7-submit {
	@apply w-full;
}

.wpcf7-spinner {
	@apply hidden;
}

.algolia-autocomplete {
	@apply !left-0 inline-block !max-h-[26.875rem] !w-full !px-10;
}

.aa-dropdown-menu {
	@apply !border-0 !bg-white !px-8 !shadow-none;
}
