/**
 * Custom WooCommerce css overwrites
 */

.added_to_cart {
	@apply hidden;
}

.summary.entry-summary {
	@apply md:col-span-6;
}

.single_add_to_cart_button {
	@apply text-button relative z-0 inline-flex grow-1 items-center justify-center overflow-hidden rounded-4xl bg-[#E0B031] px-6 py-3 text-black;
}
.single_add_to_cart_button::before {
	@apply bg-yellow absolute top-0 right-0 -z-1 h-full w-full scale-110 transition-all duration-300 ease-in-out content-[''];
}
.single_add_to_cart_button:hover::before {
	@apply -top-5 -right-5 origin-bottom-right rotate-45;
}

.variations {
	@apply hidden;
}

.woocommerce form .form-row-first {
	width: 50%;
}

.wc-checkout-terms {
	@apply hidden;
}

.wc-checkout-terms:last-of-type {
	@apply block;
}

.wc_payment_methods,
.woocommerce-shipping-methods {
	@apply flex flex-col gap-2;
}

ul.payment_methods li[class*="payment_method"],
ul.woocommerce-shipping-methods li {
	@apply !rounded-lg border border-[#CED7E1] !px-5 !py-6;
}

ul.woocommerce-shipping-methods li {
	@apply flex items-center gap-4;
}

ul.payment_methods li[class*="payment_method"] input[name="payment_method"] {
	@apply !ml-0;
}

.wc_payment_method:has(input[type="radio"]:checked) {
	@apply border-[#7F8994];
}

#wc-stripe-card {
	@apply hidden;
}

.checkout .shop_table thead,
.checkout tr.cart_item {
	@apply hidden;
}

.erd_shipping {
	@apply text-title-m-mobile lg:text-title-m font-argent mt-10 lg:mt-16;
}

.woocommerce-shipping-methods {
	@apply !text-body-m-light !font-public mt-5 lg:mt-8;
}

.woocommerce-billing-fields h3 {
	@apply text-title-m-mobile lg:text-title-m mb-5 lg:mb-8;
}

.checkout .shop_table {
	@apply w-full;
}

.checkout .shop_table tfoot tr th {
	@apply text-body-m-light text-left;
}
.checkout .shop_table tfoot tr td {
	@apply text-body-m-medium text-right;
}

.checkout .shop_table tfoot tr.order-total th,
.checkout .shop_table tfoot tr.order-total td {
	@apply border-gray3 border-t pt-4;
}

.checkout .shop_table tfoot tr.order-total td {
	@apply font-argent text-title-s;
}

.checkout .shop_table tfoot tr:not(.order-total) th,
.checkout .shop_table tfoot tr:not(.order-total) td {
	@apply pb-3;
}

.checkout .shop_table tfoot tr:not(.order-total):last-of-type th,
.checkout .shop_table tfoot tr:not(.order-total):last-of-type td {
	@apply pb-4;
}

.checkout .woocommerce-checkout-review-order-table {
	@apply mb-6 lg:mb-8;
}

.checkout .wc-checkout-terms {
	@apply mb-6 lg:mb-8;
}

.woocommerce-variation.single_variation {
	@apply !hidden;
}

.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
	width: 50%;
}

.woocommerce form .form-row label {
	font-size: var(--text-label-m);
	line-height: var(--text-label-m--line-height);
	font-weight: var(--text-label-m--font-weight);
	color: var(--color-gray5);
}

.woocommerce form .form-row {
	@apply mb-6 flex flex-col gap-1;
}

.woocommerce form .form-row input.input-text {
	@apply w-full;
}

.woocommerce-additional-fields {
	@apply hidden;
}

.select2-container--default .select2-selection--single {
	border: 1px solid var(--color-gray) !important;
	border-radius: 4px !important;
	height: 2.5rem;
	background-color: var(--color-gray);
}

.select2-search--dropdown {
	@apply !bg-gray before:absolute before:top-2 before:left-2 before:block before:h-4 before:w-4 before:content-[url(data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M8.58688%2012.83C11.5775%2012.83%2014.0019%2010.4056%2014.0019%207.415C14.0019%204.42438%2011.5775%202%208.58688%202C5.59625%202%203.17188%204.42438%203.17188%207.415C3.17188%2010.4056%205.59625%2012.83%208.58688%2012.83Z%22%20stroke%3D%22%238b8d8f%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M4.76462%2011.2256L2%2013.9902%22%20stroke%3D%22%238b8d8f%22%20stroke-miterlimit%3D%2210%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E)];
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	@apply !bg-white pl-6;
}

.select2-results__option {
	@apply !bg-gray hover:!bg-violet rounded-sm !p-2 !text-black transition-colors duration-200 hover:!text-black;
}

.select2-container--default .select2-results > .select2-results__options {
	@apply !bg-gray !max-h-[19rem] p-1;
}

.select2-dropdown {
	@apply border-gray !rounded-sm !border;
}

.select2-container--open .select2-dropdown--above {
	@apply !border-gray -translate-y-[0.5rem];
}

.select2-container--open .select2-dropdown--below {
	@apply !border-gray translate-y-[0.5rem];
}

.woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
	@apply !hidden;
}

.checkout-inline-error-message {
	@apply !text-red2 !text-label-m !font-public !mt-1;
}
