/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

/**
 * Post title styles
 *
 * These will be applied to all headings with a `page-title` or `entry-title`
 * class on the frontend and to the post title in the block editor.
 *
 * The supplied styles are meant to match the default `h1` classes from
 * Tailwind Typography.
 */
.page-title,
.entry-title {
	@apply mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

/**
 * Layout styles for centered content areas
 *
 * If you are controlling the width of your content area with styles applied
 * to its container, you can delete the following styles whose selectors begin
 * with `.page-content >` and `.entry-content >`. For more details, please see
 * the following:
 *
 * https://make.wordpress.org/core/2021/06/29/on-layout-and-content-width-in-wordpress-5-8/
 */
.page-content > *,
.entry-content > * {
	/* Content width from the `theme.json` file */
	@apply mx-auto;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}

.erd_button {
	@apply text-button relative z-0 inline-flex cursor-pointer items-center justify-center overflow-hidden rounded-4xl bg-[#E0B031] px-6 py-3 text-black;
}

.erd_button.is-secondary {
	@apply bg-gray2;
}

.erd_button::before {
	@apply bg-yellow absolute top-0 right-0 -z-1 h-full w-full scale-110 transition-all duration-300 ease-in-out content-[''];
}

.erd_button.is-secondary::before {
	@apply bg-gray;
}

.erd_button:hover::before {
	@apply -top-5 -right-5 origin-bottom-right rotate-45;
}

.single-product-slider-pagination .swiper-pagination-bullet {
	@apply !m-0 h-[5px] w-[5px] bg-white opacity-50;
}

.single-product-slider-pagination .swiper-pagination-bullet-active {
	@apply opacity-100;
}

.erd_icon_button {
	@apply bg-gray2 relative z-0 inline-flex cursor-pointer items-center justify-center overflow-hidden rounded-full px-6 py-3 text-black;
}

.erd_icon_button::before {
	@apply bg-gray absolute top-0 right-0 -z-1 h-full w-full scale-110 rotate-45 transition-all duration-300 ease-in-out content-[''];
}

.erd_icon_button:hover::before {
	@apply -top-full -right-full;
}

.erd_icon_group:hover .erd_icon_button:before {
	@apply -top-full -right-full;
}

.erd_ghost {
	@apply relative;
}

.erd_ghost:before {
	content: "";
	background-color: currentColor;
	display: block;
	height: 1px;
	pointer-events: none;
	position: absolute;
	right: 0;
	bottom: -4px;
	left: auto;
	width: 0;
	transition-property: width;
	transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
	transition-duration: 0.9s;
}

.erd_ghost:hover:before {
	left: 0;
	right: auto;
	width: 100%;
}

/* Text input */
.erd_text-input {
	@apply text-body-m-light bg-gray border-gray rounded-lg border px-4 py-3.5 text-left text-black transition-colors duration-100;
}

.erd_text-input::placeholder {
	@apply text-gray5;
}

.erd_text-input:hover {
	@apply border-gray3;
}

.erd_text-input:focus {
	@apply border-gray3 outline-0;
}

/* QTY input buttons */
[data-qty-btn].erd_button.is-secondary.is-disabled {
	@apply pointer-events-none;
}

[data-qty-btn].erd_button.is-secondary.is-disabled::before {
	@apply hidden;
}

[data-qty-btn].erd_button.is-secondary.is-disabled svg {
	@apply opacity-30;
}

.tippy-box[data-theme~="erd"] {
	@apply bg-gray2 rounded-none p-5 text-black;
}

.tippy-box[data-theme~="erd"][data-placement^="top"] .tippy-arrow::before {
	@apply !border-t-gray2;
}

.erd_rich_content a {
	@apply relative;
}

.erd_rich_content a::before {
	content: "";
	background-color: currentColor;
	display: block;
	height: 1px;
	pointer-events: none;
	position: absolute;
	right: 0;
	bottom: -4px;
	left: auto;
	width: 0;
	transition-property: width;
	transition-timing-function: cubic-bezier(0.135, 0.9, 0.15, 1);
	transition-duration: 0.9s;
}

.erd_rich_content a:hover::before {
	left: 0;
	right: auto;
	width: 100%;
}
